<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="main.js"></script>
<div ng-controller="carsCtrl">
    <div>
        <label>model: <input type="text" ng-model="model"></label>
        <label>price: <input type="text" ng-model="price"></label>
        <label>year: <input type="text" ng-model="year"></label>
        <button ng-click="createCar({model:model,price:price,year:year})">save</button>
    </div>
    <div ng-repeat="car in cars">{{car.id}} {{car.model}} {{car.year}} {{car.price}}
        <button ng-click="updateCar({id:car.id,model:car.model,price:car.price,year:car.year})">update</button>
        <button ng-click="delCar({id:car.id,model:car.model,price:car.price,year:car.year})">delete</button>
    </div>

</div>



</body>
</html>

